In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import os
import config
import tweepy

In [17]:
#%run ./keys.ipynb #For opening other notebook in current notebook.

In [18]:
consumer_key='4fXB2tjWNmyyjeYrPcjtUvGbE'
consumer_secret='eM3bz0gyTJDvlx0bbtngoL82okm5t30GG9mSN1syNz7kr3PPGb'
access_token= '1237967779015393280-4qhSDFS0c8S3VxQvS4EEXJOGVF7gTf'
access_token_secret='oXYEk2cTndJ4tcNjuP4c5QuNZ8ErxexacMiFxVeEvUnVX'

In [19]:
auth = tweepy.OAuth1UserHandler(consumer_key, consumer_secret, access_token, access_token_secret)

In [20]:
api = tweepy.API(auth)

public_tweets = api.home_timeline()
for tweet in public_tweets:
    print(tweet.text)

search_words = ["python", "accounting", "marketing", "data analysis", "Data science", "Power BI", "Tableau", "Java", ]

date_since = "2020-05-21"

tweets = tweepy.Cursor(api.search, =search_words,
                       geocode="20.5937,78.9629,3000km",
                       lang="en", since=date_since).items(10)

for i in tweets:
    print(i.full_text)

In [64]:
tweets = tweepy.Cursor(api.search_tweets,q='python', lang="en", tweet_mode='extended').items(400)
#num_tweets=300
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [65]:
dfp=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})

In [66]:
dfp

,Tweets,User,Time
0,RT @Khulood_Almani: What are the5‚É£Reasons behi...,1547950065553068036,2022-07-15 14:23:49+00:00
1,Today I have just completed #Day5 of 100 days ...,1547950064509014016,2022-07-15 14:23:49+00:00
2,RT @Khulood_Almani: üíªThis #Workstation takes i...,1547950046838026241,2022-07-15 14:23:45+00:00
3,RT @kevinbolk: At what point did the world bec...,1547950037757353986,2022-07-15 14:23:43+00:00
4,RT @gp_pulipaka: Geometric Methods and Applica...,1547950029557493761,2022-07-15 14:23:41+00:00
...,...,...,...
395,9 One-Liners Anyone Learning Python Should Kno...,1547946473567899648,2022-07-15 14:09:33+00:00
396,RT @realpython: üêçüéß Episode #117 of the Real Py...,1547946466592706562,2022-07-15 14:09:31+00:00
397,RT @JetBrains_Edu: Learning #Python? Check out...,1547946444291653637,2022-07-15 14:09:26+00:00
398,RT @humblemuzzu: Day 1 of #100daysofcode \n\nT...,1547946433302519809,2022-07-15 14:09:23+00:00
399,RT @humblemuzzu: Day 1 of #100daysofcode \n\nT...,1547946417708097542,2022-07-15 14:09:20+00:00

In [67]:
df1=dfp[~dfp.Tweets.str.contains("RT")]

In [68]:
df1=df1.reset_index(drop=True)
df1

,Tweets,User,Time
0,Today I have just completed #Day5 of 100 days ...,1547950064509014016,2022-07-15 14:23:49+00:00
1,@s_gruppetta_ct @reuvenmlerner If you can snea...,1547949887622328321,2022-07-15 14:23:07+00:00
2,"Driven Brands, Inc. is looking for an Economis...",1547949864809422850,2022-07-15 14:23:01+00:00
3,Freddie Mac is looking for a Quantitative Anal...,1547949861839851523,2022-07-15 14:23:01+00:00
4,@DThompsonDev I am starting my career in https...,1547949809255923719,2022-07-15 14:22:48+00:00
...,...,...,...
61,I didn't get to post my second #Python ebook g...,1547946515355734020,2022-07-15 14:09:43+00:00
62,There have been 5 visits in the last 12 Minui...,1547946497802547204,2022-07-15 14:09:39+00:00
63,9 One-Liners Anyone Learning Python Should Kno...,1547946473760833538,2022-07-15 14:09:33+00:00
64,9 One-Liners Anyone Learning Python Should Kno...,1547946473676873733,2022-07-15 14:09:33+00:00
65,9 One-Liners Anyone Learning Python Should Kno...,1547946473567899648,2022-07-15 14:09:33+00:00

In [26]:
dfp.shape

(300, 3)

In [106]:
df1['classification']='python'

In [107]:
df1

,Tweets,User,Time,classification
0,Today I have just completed #Day5 of 100 days ...,1547950064509014016,2022-07-15 14:23:49+00:00,python
1,@s_gruppetta_ct @reuvenmlerner If you can snea...,1547949887622328321,2022-07-15 14:23:07+00:00,python
2,"Driven Brands, Inc. is looking for an Economis...",1547949864809422850,2022-07-15 14:23:01+00:00,python
3,Freddie Mac is looking for a Quantitative Anal...,1547949861839851523,2022-07-15 14:23:01+00:00,python
4,@DThompsonDev I am starting my career in https...,1547949809255923719,2022-07-15 14:22:48+00:00,python
...,...,...,...,...
61,I didn't get to post my second #Python ebook g...,1547946515355734020,2022-07-15 14:09:43+00:00,python
62,There have been 5 visits in the last 12 Minui...,1547946497802547204,2022-07-15 14:09:39+00:00,python
63,9 One-Liners Anyone Learning Python Should Kno...,1547946473760833538,2022-07-15 14:09:33+00:00,python
64,9 One-Liners Anyone Learning Python Should Kno...,1547946473676873733,2022-07-15 14:09:33+00:00,python
65,9 One-Liners Anyone Learning Python Should Kno...,1547946473567899648,2022-07-15 14:09:33+00:00,python

In [70]:
tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)

In [71]:
num_tweets=300
search_words='confidence'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [33]:
dfc=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})

In [72]:
df2=dfc[~dfc.Tweets.str.contains("RT")]
df2.shape

(83, 3)

In [73]:
df2=df2.reset_index(drop=True)
df2['classification']='confidence'

search_words = ["python", "accounting", "marketing", "data analysis", "Data science", "Power BI", "Tableau", "Java", ]

In [74]:
tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=300
search_words='marketing'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [75]:
dfm=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df3=dfm[~dfm.Tweets.str.contains("RT")]
df3.shape

(98, 3)

In [76]:
df3=df3.reset_index(drop=True)
df3['classification']='marketing'
df3

,Tweets,User,Time,classification
0,@BadMedicalTakes Love that confidence.,1547958329544024066,2022-07-15 14:56:40+00:00,marketing
1,2. Force the mind to control the body - When y...,1547958319381221378,2022-07-15 14:56:37+00:00,marketing
2,"Seriously, just cancel the elections like you ...",1547958299105996801,2022-07-15 14:56:32+00:00,marketing
3,@RoroSw3 I‚Äôd say continue with self confidence...,1547958291732373504,2022-07-15 14:56:31+00:00,marketing
4,@indaydae_ I‚Äôve been tryna build up the confid...,1547958276196773890,2022-07-15 14:56:27+00:00,marketing
...,...,...,...,...
93,#Corruption on which economic growth depends. ...,1547956884753108996,2022-07-15 14:50:55+00:00,marketing
94,Great pleasure to have @MRIPRO1 as new partner...,1547956874112147462,2022-07-15 14:50:53+00:00,marketing
95,‚ÄúAll Tennesseans should understand Arnn‚Äôs slur...,1547956872535109632,2022-07-15 14:50:52+00:00,marketing
96,"Therapy is not enough, I need the confidence o...",1547956871939600385,2022-07-15 14:50:52+00:00,marketing
97,@Deeval33 Unfortunately if he steps down its n...,1547956861550280712,2022-07-15 14:50:50+00:00,marketing

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='data analysis'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfd=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df4=dfd[~dfd.Tweets.str.contains("RT")]
df4.shape

In [77]:
tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=300
search_words='java'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [78]:
dfj=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df5=dfj[~dfj.Tweets.str.contains("RT")]
df5.shape

(185, 3)

In [79]:
df5=df5.reset_index(drop=True)
df5['classification']='java'

In [80]:
tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=300
search_words='leadership'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [81]:
dfl=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df6=dfl[~dfl.Tweets.str.contains("RT")]
df6.shape

(87, 3)

In [82]:
df6=df6.reset_index(drop=True)
df6['classification']='leadership'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='Problem Solving'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfp=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df7=dfp[~dfp.Tweets.str.contains("RT")]
df7.shape

df7=df7.reset_index(drop=True)
df7['classification']='Problem Solving'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='Time Management'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dft=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df8=dft[~dft.Tweets.str.contains("RT")]
df8.shape

df8=df8.reset_index(drop=True)
df8['classification']='Time Management'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='Decision Making'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfdm=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df9=dfdm[~dfdm.Tweets.str.contains("RT")]
df9.shape

df9=df9.reset_index(drop=True)
df9['classification']='Decision Making'

In [83]:
tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=300
search_words='Communication'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

In [84]:
dfcm=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df10=dfcm[~dfcm.Tweets.str.contains("RT")]
df10.shape

(69, 3)

In [85]:
df10=df10.reset_index(drop=True)
df10['classification']='Communication'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=300
search_words='Teamwork'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfk=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df11=dfk[~dfk.Tweets.str.contains("RT")]
df11.shape

df11=df11.reset_index(drop=True)
df11['classification']='Communication'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='Critical Thinking'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfct=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df12=dfct[~dfct.Tweets.str.contains("RT")]
df12.shape

df12=df12.reset_index(drop=True)
df12['classification']='Critical Thinking'

tweets = tweepy.Cursor(api.search_tweets,q=search_words, lang="en", tweet_mode='extended').items(num_tweets)
num_tweets=200
search_words='Creative Thinking'
tweet=[]
account_name=[]
time=[]
for i in tweets:
    tweet.append(i.full_text)
    account_name.append(i.id)
    time.append(i.created_at)

dfch=pd.DataFrame({'Tweets':tweet, 'User':account_name, 'Time':time})
df13=dfch[~dfch.Tweets.str.contains("RT")]
df13.shape

df13=df13.reset_index(drop=True)
df13['classification']='Creative Thinking'

In [117]:
dfs=pd.concat([df1, df2, df3, df5, df6, df10, df11])
dfs

,Tweets,User,Time,classification
0,Today I have just completed #Day5 of 100 days ...,1547950064509014016,2022-07-15 14:23:49+00:00,python
1,@s_gruppetta_ct @reuvenmlerner If you can snea...,1547949887622328321,2022-07-15 14:23:07+00:00,python
2,"Driven Brands, Inc. is looking for an Economis...",1547949864809422850,2022-07-15 14:23:01+00:00,python
3,Freddie Mac is looking for a Quantitative Anal...,1547949861839851523,2022-07-15 14:23:01+00:00,python
4,@DThompsonDev I am starting my career in https...,1547949809255923719,2022-07-15 14:22:48+00:00,python
...,...,...,...,...
88,‚ö°Ô∏è $RYU üíµ $RYPPF ‚ö°Ô∏è\n\nTotal Network Services ...,1547946136500989960,2022-07-15 14:08:13+00:00,Communication
89,#Actions are #louder and more #clear than #com...,1547946134991093764,2022-07-15 14:08:12+00:00,Communication
90,Wish hadn't had give up on somone I actually l...,1547946119136653313,2022-07-15 14:08:08+00:00,Communication
91,Dance is communication with our bodies. Our fe...,1547946117517651968,2022-07-15 14:08:08+00:00,Communication
92,Yo I‚Äôm watching #TheUmbrellaAcademy. I forgot ...,1547946114854268930,2022-07-15 14:08:07+00:00,Communication

In [109]:
df = dfs.sample(frac=1)
df=df.reset_index(drop=True)
df.head(10)

,Tweets,User,Time,classification
0,@UmmCarlitoes there is no ethical TI-84 Ce Plu...,1547949379394232321,2022-07-15 14:21:06+00:00,python
1,@thenation Their obvious mistake is not having...,1547947934821494784,2022-07-15 14:15:21+00:00,Communication
2,The confidence alcohol gives is damn scary üòÇüòÇ,1547946504270204930,2022-07-15 14:09:40+00:00,confidence
3,@bruno_nwogu No one has everything figured out...,1547957803817394176,2022-07-15 14:54:34+00:00,java
4,How countries with leadership are handling thi...,1547959110523445250,2022-07-15 14:59:46+00:00,Communication
5,@OTyagOfs Christ what is wrong with Nunez ? He...,1547957806187237379,2022-07-15 14:54:35+00:00,marketing
6,@KediriFess Baju bloodz/greenlight/3second/eig...,1547957005251678208,2022-07-15 14:51:24+00:00,leadership
7,Hell yeah! We need to revise the protections g...,1547957113284046848,2022-07-15 14:51:50+00:00,marketing
8,@GlobalCrypto777 Samurai King Is First BSC Mem...,1547957233270419458,2022-07-15 14:52:18+00:00,java
9,@EastMidRailway I know it's hot Summer but Sep...,1547946341820575746,2022-07-15 14:09:01+00:00,confidence

In [118]:
dfs.classification=dfs.classification.str.lower()

In [119]:
dfs.Tweets=dfs.Tweets.str.lower()

In [121]:
dfs

,Tweets,User,Time,classification
0,today i have just completed #day5 of 100 days ...,1547950064509014016,2022-07-15 14:23:49+00:00,python
1,@s_gruppetta_ct @reuvenmlerner if you can snea...,1547949887622328321,2022-07-15 14:23:07+00:00,python
2,"driven brands, inc. is looking for an economis...",1547949864809422850,2022-07-15 14:23:01+00:00,python
3,freddie mac is looking for a quantitative anal...,1547949861839851523,2022-07-15 14:23:01+00:00,python
4,@dthompsondev i am starting my career in https...,1547949809255923719,2022-07-15 14:22:48+00:00,python
...,...,...,...,...
88,‚ö°Ô∏è $ryu üíµ $ryppf ‚ö°Ô∏è\n\ntotal network services ...,1547946136500989960,2022-07-15 14:08:13+00:00,communication
89,#actions are #louder and more #clear than #com...,1547946134991093764,2022-07-15 14:08:12+00:00,communication
90,wish hadn't had give up on somone i actually l...,1547946119136653313,2022-07-15 14:08:08+00:00,communication
91,dance is communication with our bodies. our fe...,1547946117517651968,2022-07-15 14:08:08+00:00,communication
92,yo i‚Äôm watching #theumbrellaacademy. i forgot ...,1547946114854268930,2022-07-15 14:08:07+00:00,communication

In [126]:
dfs.isna().sum()

Tweets            0
User              0
Time              0
classification    0
dtype: int64

In [127]:
dfs['Time'] =dfs['Time'].astype('str')
#df['Time'] = df['Time'].apply(lambda a: pd.to_datetime(a).date())

In [128]:
dfs.to_excel('tweets_final.xlsx', index=False)

In [125]:
df.classification.unique()

array(['python', 'communication', 'confidence', 'java', 'marketing',
       'leadership'], dtype=object)